build
dist
*.egg-info
*.egg
*.obj
logs*
*.logs
*.txt
*.log
*.obj
disk
*.ini
*.npy
*.pyc
*.jpg
*.pt
*.json
*.wandb
*.tar
*.pth
*.npz
*.h5
*.png
*.DS_Store
events.*
wandb*
__pycache__
*.svg
*.csv
*.pdf
